---
const { icon, url, url_name } = Astro.props;
import { Icon } from "astro-icon/components";
const isExternal = /^(https?:\/\/|mailto:)/i.test(url);
---

<a
  href={url}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener noreferrer" : undefined}
  class="btn btn-outline min-h-11 px-4"
>
  <Icon name={icon} class="w-6 h-6" />{url_name}
</a>
